:root{
	--light: #F8F9FA;
	--dark: #343A40;
}

*{
	font-family: 'Baloo Thambi 2', cursive;
}

/* NAVBAR */
.navbar{
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	z-index: 1;
}

.navbar a{
	font-size: 1.5rem;
}

.navbar-toggler-icon{
	font-size: 2rem;
}

#nav_title{
	margin-left: 5%;
	margin-right: 5%;
}

/* DISPLAY MORE CONTAINER */
#messageContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4rem;
}

#loadButton{
	font-size: 2rem;
}

#loadButton:hover{
	transform: scale(1.1, 1.1);
	transition: 0.3s ease-in-out;
}

#messageEnd{
	font-size: 2rem;
	color: white;
	text-align: center;
}

/* CAROUSSEL */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 6rem;
  width: 6rem;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 4rem;
  color: var(--dark);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 4rem;
  color: var(--dark);
}


/* CAROUSSEL */
.modal-dialog{
	max-width: 45%;
}
