/* MEDIA */
@media(max-width: 1300px){

	#nav_title{
		margin-left: 3%;
		margin-right: 3%;
	}

	.navbar a{
		font-size: 2.5rem;
	}

	.modal-dialog{
		max-width: 90%;
	}
}

/* MEDIA */
@media(min-width: 1300px) and (max-width: 1400px){

	#nav_title{
		margin-left: 0;
		margin-right: 0;
	}

	.navbar a{
		font-size: 1.7rem;
	}

	.modal-dialog{
		max-width: 60%;
	}
}
