#toFillWithContent{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.7rem;

	padding: 2rem 5rem 0 5rem;
}

.tattoos{
	max-width: 100%;
	transition: 0.5s;
}

.tattoos:hover{
	z-index: 1;
	transform: scale(1.1, 1.1);
}

.modal{
	width: 100%;
}

#messageEnd{
	color: black;
}
